/* ================================== Global ======================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  background-color: #131a27;
  /*font-family: "Lucida Grande";*/
}

.container {
  max-width: 100%;
  padding: 0 15px;
}

/* ================================== End Global ==================================== */

/* ================================== Header ======================================== */
header {
  height: 65px;
  width: 100%;
  background-color: rgb(22, 25, 26);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0px;
  color: #e50914;
}

.header-menu {
  float: left;
}

.header-menu a {
  line-height: 62px;
  padding: 0 25px;
  color: white;
  opacity: 0.7;
  display: block;
  float: left;
  /* transition: all 0.3s; */
}

.header-menu a:hover {
  /* background-color: rgba(255, 255, 255, 0.3); */
  border-bottom: 3px solid red;
  color: red;
  opacity: 1;
}

.header-search {
  display: block;
  margin-left: auto;
}

.header-search input {
  float: right;
  padding: 8px 0 8px 8px;
  margin-top: 13px;
  border: none;
  font-size: 17px;
  width: 250px;
  transition: 0.3s;
}

.header-search input:focus {
  width: 350px;
}

/* ================================== End Header =================================== */

/* ================================== Main ========================================= */
.top-wrapper {
  width: 100%;
  padding: 180px 0 100px 0;
  margin-bottom: 40px;
  color: white;
  background-color: #151d2e;
  text-align: center;
  background-image: url(https://images8.alphacoders.com/369/thumbbig-369198.webp);
  background-size: cover;
}

.main-body {
  opacity: 0.8;
  border-radius: 4px;
}
.top-wrapper h1 {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  margin-bottom: 80px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.streaming {
  background-color: #e50914;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

/* =================================== End Main ==================================== */

/* =================================== Body ======================================== */
.body-wrapper {
  display: flex;
  width: 100%;
}
.heading {
  font-size: 18px;
  padding-bottom: 15px;
}

.heading h2 {
  width: 16%;
  border-bottom: 6px solid #e50914;
  font-weight: normal;
  color: white;
}
.heading h2:hover {
  color: red;
}
.body-card {
  float: left;
  margin-right: 40px;
  margin-bottom: 50px;
  transition: 0.3s;
  background-color: #0c111b;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.body-card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.body-card img {
  border-radius: 8px;
}
.body-card p,
h4 {
  color: white;
  opacity: 0.9;
}

.card-container {
  padding: 2px 16px;
  width: 100%;
}
.body-card-wrapper {
  width: 100%;
  margin-left: 90px;
}
/*===================================== End Body ====================================*/

/*===================================== form ====================================*/
.form {
  margin-left: 20px;
}
.form h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}
.line h3 {
  border: 4px solid #e50914;
  margin-bottom: 50px;
}
.form p {
  color: white;
}
input {
  padding: 30px;
  width: 500px;
  margin-bottom: 40px;
  border: 2px solid #151d2e;
  margin-top: 10px;
}
.contact-submit {
  background-color: #e50914;
  color: bisque;
  font-size: 20px;
  margin-bottom: 12px;
  margin-left: 20px;
}
/*===================================== End Body ====================================*/
footer {
  padding-top: 40px;
}
footer h3 {
  color: #e50914;
  font-size: 50px;
}
footer p {
  color: aqua;
  font-size: 12px;
}
